    
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">

        <form action="/cadastrar" method="POST" class="border form-control" style="max-width: 360px; border-radius: 25px; padding: 25px 30px; flex-direction: column; display: flex;">
            <h4><spam style="color: blue; font-size: 20px">Criar</spam> uma conta</h4>

            <br>

            <label for="nome">Nome</label>
            <input style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="text" name="nome" id="nome" value="{{nome}}">
            {{#if erroNomeNaoPodeSerVazio}}<small style="color: red; padding-top: 5px;">{{erroNomeNaoPodeSerVazio.nomeNaoPodeSerVazio}}</small>{{/if}}
        
            <br>

            <label for="email">E-mail</label>
            <input style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="email" name="email" id="email" value="{{email}}">
            {{#if erroEmailNaoPodeSerVazio}}<small style="color: red; padding-top: 5px;">{{erroEmailNaoPodeSerVazio.emailNaoPodeSerVazio}}</small>{{/if}}
            {{#if erroEmailJaExiste}}<small style="color: red; padding-top: 5px;">{{erroEmailJaExiste.emailJaExiste}}</small>{{/if}}
        
            <br>

            <label for="sobre">Sobre Mim</label>
            <textarea style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="text" name="sobre" id="sobre" value="{{sobre}}">{{sobre}}</textarea>
            {{#if erroSobreNaoPodeSerVazio}}<small style="color: red; padding-top: 5px;">{{erroSobreNaoPodeSerVazio.sobreNaoPodeSerVazio}}</small>{{/if}}
        
            <br>

            <label for="senha">Digite uma Senha</label>
            <input style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="password" name="senha" id="senha" value="{{senha}}">
            {{#if erroSenhaNaoPodeSerVazio}}<small style="color: red; padding-top: 5px;">{{erroSenhaNaoPodeSerVazio.senhaNaoPodeSerVazio}}</small>{{/if}}
            {{#if erroSenhaMenorQue5Caracteres}}<small style="color: red; padding-top: 5px;">{{erroSenhaMenorQue5Caracteres.senhaMenorQue5Caracteres}}</small>{{/if}}

            <br>

            <label for="confirmarSenha">Confirmar Senha</label>
            <input style="border: none; padding: 5px 0px 5px 0px; border-bottom: 0.5px solid #d2d2d2; background: transparent; outline: none;" type="password" name="confirmarSenha" id="confirmarSenha">
            {{#if erroSenhaNaoPodeSerVazio}}<small style="color: red; padding-top: 5px;">{{erroSenhaNaoPodeSerVazio.senhaNaoPodeSerVazio}}</small>{{/if}}
            {{#if erroSenhaNaoConfere}}<small style="color: red; padding-top: 5px;">{{erroSenhaNaoConfere.senhaNaoConfere}}</small>{{/if}}
            
            <button id="submit" type="submit" class="btn" style="color: #fff; background-color: blue; border-radius: 25px; margin-top: 25px;">Logar</button>

            <div style="text-align: center; margin: 25px 0 0 0;">
                <span>Você já tem uma conta? </span>
                <a style="color: blue;" href="/login"> Fazer login</a>
            </div>

        </form>
        
    
    </div>

