<style>

    .adicionarQuadro {
         background-color: darkgreen;
    }
    .adicionarQuadro:hover {
        background-color:green;
    }

    .adicionarQuadro:hover a {
        color: #fff;
    }

</style>

<section style="overflow-y: scroll; height: 100%;">
    <article style="display: flex; flex-wrap: wrap; height: 100%;">
        <div style="margin: 0 10px; padding: 0; height: 100%; display: flex; justify-content: start; align-items: center;">
            
            <!--Quadro-->
            {{#each todosOsQuadros}}
            <div style="margin-right: 12px; box-shadow: 1px 1px 5px 0px #5e5e5e; width: 272px; height: 98%; padding: 12px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; overflow: hidden;">
                
                <!--Título do Quadro -->
                <h5 style="font-size: 18px;">{{dataValues.titulo}}</h5>


                <div style=" overflow-y: scroll; height: 90%;">
                    
                    <!-- Tarefa -->
                    {{#each tarefas}}
                    <div style="margin: 1px 10px 8px 1px; border-radius: 8px; padding: 5px 7px; box-shadow: 1px 1px 5px 0px #5e5e5e;">
                        <h4>{{dataValues.titulo}}</h4>
                        <div style="overflow-x: hidden;"><p style="font-size: 13px; text-align: justify">{{dataValues.conteudo}}</p></div>
                        <div style="overflow-x: hidden;"><p style="font-size: 13px; text-align: justify">link: {{dataValues.link}}</p></div>
                        <div style="overflow-x: hidden;"><p style="font-size: 13px; text-align: justify">prazo:     {{dataValues.prazo}}</p></div>
                        <div style="display: flex; justify-content: end;">
                            <div style="margin: 2px;"><a data-bs-toggle="modal" data-bs-target="#excluirTarefa{{dataValues.id}}" href="#" style="color: #fff; background-color: red; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Excluir</a></div>
                            <div style="margin: 2px;"><a data-bs-toggle="modal" data-bs-target="#editarTarefa{{dataValues.id}}" href="#" style="color: #fff; background-color: red; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Editar</a></div>
                        </div>
                    </div>
                    
                    {{/each}}
                    
                    
                </div>
                <div style="display: flex; justify-self: flex-end; align-self: flex-end; position: absolute; bottom: 18px;"><a data-bs-toggle="modal" data-bs-target="#myModal{{dataValues.id}}" href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
            </div>
            {{/each}}

            <!--Botão de Acrescentar Quadro-->
            <div class="adicionarQuadro" style="align-self: flex-start;padding-top: 1px; margin: 8px 0 0 0; color: #fff; box-shadow: 1px 1px 5px 0px #D2D2D2; width: 45px; height: 45px; border-radius: 25px;">
                <a data-bs-toggle="modal" data-bs-target="#adicionarQuadro" href=""><span title="Adicionar Quadro" style="font-size: 30px; text-align: center; align-items: center; display: flex; justify-content: center;">+</span></a>
            </div>
        </div>
    </article>
</section>

{{#each todosOsQuadros}}
<!-- Modal -->
<div class="modal fade" id="myModal{{dataValues.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Tarefa ao Quadro: <br>{{dataValues.titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/adicionar/tarefa" method="POST">
                <div class="modal-body">
                    
                    <div class="mb-3 row">
                        <label for="editar-titulo-da-tarefa" class="col-sm-2 col-form-label">Titulo:</label>
                        <div class="col-sm-10">
                        <input type="text" name="titulo" class="form-control" id="editar-titulo-da-tarefa">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="editar-conteúdo-da-tarefa" class="col-sm-2 col-form-label">Conteúdo:</label>
                        <div class="col-sm-10">
                        <textarea name="conteudo" class="form-control" id="editar-conteudo-da-tarefa" rows="10">{{dataValues.conteudo}}</textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                    <button type="button" class="btn btn-primary">Adicionar Nova Tarefa</button>
                </div>
            </form> 
        </div>
    </div>
</div>
{{/each}}

{{#each todosOsQuadros}}
    {{#each tarefas}}
    <!-- Modal -->
    <div class="modal fade" id="excluirTarefa{{dataValues.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Excluir {{dataValues.titulo}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Deseja realmente excluir a tarefa {{dataValues.titulo}}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
            <a href="/deletar/tarefa/{{dataValues.id}}"><button type="button" class="btn btn-primary">Excluir Definitivamente</button></a>
        </div>
        </div>
    </div>
    </div>
    {{/each}}
{{/each}}

{{#each todosOsQuadros}}
    '{{#each tarefas}}
    <!-- Modal -->
    <div class="modal fade" id="editarTarefa{{dataValues.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar {{dataValues.titulo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/atualizar/tarefa" method="POST">
                    <div class="modal-body">
                        
                        <div class="mb-3 row">
                            <label for="editar-titulo-da-tarefa" class="col-sm-2 col-form-label">Titulo:</label>
                            <div class="col-sm-10">
                            <input type="text" name="titulo" class="form-control" id="editar-titulo-da-tarefa" value="{{dataValues.titulo}}">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="editar-conteúdo-da-tarefa" class="col-sm-2 col-form-label">Conteúdo:</label>
                            <div class="col-sm-10">
                            <textarea name="conteudo" class="form-control" id="editar-conteudo-da-tarefa" value="{{dataValues.conteudo}}" rows="10">{{dataValues.conteudo}}</textarea>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                        <button type="button" class="btn btn-primary">Atualizar</button>
                    </div>
                </form>       
            </div>  
        </div>
    </div>
    {{/each}}
{{/each}}

    <!-- Modal -->
<div class="modal fade" id="adicionarQuadro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar novo quadro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/adicionar/tarefa" method="POST">
                <div class="modal-body">

                    <div class="mb-3 row">
                        <label for="editar-titulo-da-tarefa" class="col-sm-2 col-form-label">Titulo:</label>
                        <div class="col-sm-10">
                        <input type="text" name="titulo" class="form-control" id="editar-titulo-da-tarefa">
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                    <button type="button" class="btn btn-primary">Adicionar Nova Tarefa</button>
                </div>
            </form> 
        </div>
    </div>
</div>