<style>

    .adicionarQuadro {
         background-color: darkgreen;
    }
    .adicionarQuadro:hover {
        background-color:green;
    }

    .adicionarQuadro:hover a {
        color: #fff;
    }

</style>

<section style="overflow-y: scroll; height: 100%;">
    <article style="display: flex   ; flex-wrap: wrap; height: 100%;">
        <div style="margin: 0 10px; padding: 0; height: 100%; display: flex; justify-content: start; align-items: center;">
            
            <!--Quadro-->
            {{#each todosOsQuadros}}
            <div style="margin-right: 12px; box-shadow: 1px 1px 5px 0px #D2D2D2; width: 272px; height: 98%; padding: 12px; border-radius: 12px; background-color: #fff; display: flex; flex-wrap: wrap; flex-direction: column; overflow: hidden;">
                
                <!--Título do Quadro -->
                <h5 style="font-size: 18px;">{{dataValues.titulo}}</h5>


                <div style=" overflow-y: scroll; height: 90%;">
                    
                    <!-- Tarefa -->
                    {{#each tarefas}}
                    <div style="margin: 0 10px 8px 0; border: 1px solid brown; border-radius: 8px; padding: 5px 7px;">
                        <h4>{{dataValues.titulo}}</h4>
                        <div style="overflow-x: hidden;"><p style="font-size: 13px; text-align: justify">{{dataValues.conteudo}}</p></div>
                        <div style="overflow-x: hidden;"><p style="font-size: 13px; text-align: justify">{{dataValues.link}}</p></div>
                        <div style="overflow-x: hidden;"><p style="font-size: 13px; text-align: justify">{{dataValues.prazo}}</p></div>
                    </div>
                    {{/each}}
                    
                </div>
                <div style="display: flex; justify-self: flex-end; align-self: flex-end; position: absolute; bottom: 18px;"><a href="#" style="color: #fff; background-color: #FDA040; padding: 3px 15px 3px 15px; border-radius: 8px; font-size: 12px; align-self: flex-end;">Adicionar Tarefa</a></div>
            </div>
            {{/each}}

            <!--Botão de Acrescentar Quadro-->
            <div class="adicionarQuadro" style="align-self: flex-start;padding-top: 1px; margin: 8px 0 0 0; color: #fff; box-shadow: 1px 1px 5px 0px #D2D2D2; width: 45px; height: 45px; border-radius: 25px;">
                <a href=""><span title="Adicionar Quadro" style="font-size: 30px; text-align: center; align-items: center; display: flex; justify-content: center;">+</span></a>
            </div>
        </div>
    </article>
</section>

